<!-- Footer -->
<div>
    <!-- <link rel="stylesheet" href="/assets/css/main.css" /> -->
    <footer id="footer">
        <p>
        <ul class="icons">
            <li><a href="https://twitter.com/john_a_whitton" class="icon brands fa-twitter"><span
                        class="label">Twitter</span></a></li>
            <li><a href="https://www.linkedin.com/in/johnwhitton/" class="icon brands fa-linkedin"><span
                        class="label">LinkedIn</span></a></li>
            <li><a href="https://github.com/johnwhitton?tab=repositories" class="icon brands fa-github"><span
                        class="label">GitHub</span></a></li>
            <li><a href="https://medium.com/@john_whitton" class="icon brands fa-medium"><span
                        class="label">Medium</span></a></li>
        </ul>
        </p>
        <p class="copyright">John Whitton. <a href="mailto:john@johnwhitton.com">john@johnwhitton.com</a></p>
        <p class="copyright">&copy; John Whitton. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
    </footer>
</div>