<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
    <meta charset="utf-8">
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/styles.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
</head>

<body>
    <div class="wrapper">
        <!-- <header>
            <a href="/index.html"><img src="/assets/images/jincubator.png"></a>
            {% for work in site.work %}
            <ul>
                <li><a href="{{ work.url }}">{{ work.title }}</a></li>
            </ul>
            {% endfor %}
        </header>
        <section> -->
        {% include navigation.html fixed=true %}
        <h1>{{ page.title }}</h1>
        {{ content }}
        <!-- </section> -->
    </div>

</body>

</html>